{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4  mt-5">
            <form action="/signin/" method="POST" class="card card-body was-validated">
                <h1 class="text-center">Signin</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="uname" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="id_username" placeholder="Enter username"
                        name="username" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="id_password" placeholder="Enter password"
                        name="password" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <button class="btn btn-outline-primary">
                    Signin
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
